<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sapphire_ESP_Flasher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sapphire_ESP_Flasher.My.MySettings>
            <setting name="LastBinLocation" serializeAs="String">
                <value>No binary selected</value>
            </setting>
            <setting name="LastFlashLocation" serializeAs="String">
                <value>Flash tool not found</value>
            </setting>
            <setting name="HasSeenFlashDirectoryWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasSeenDefaultBinWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </Sapphire_ESP_Flasher.My.MySettings>
    </userSettings>
</configuration>